assignment2.aux
assignment2.bbl
assignment2.blg
assignment2.synctex.gz
assignment2.log
zarnold6-analysis.aux
zarnold6-analysis.bbl
zarnold6-analysis.blg
zarnold6-analysis.log
zarnold6-analysis.synctex.gz
canvastoken.txt